body {
width: 100%;
height: 100%;
margin: 0;
}

ul {
font-family: Roboto;
color:  #16a085;
font-size: 1.3em;
font-weight: 700;
margin-left: 20%;
margin-right: 20%;
list-style: none;

}

li {
display: inline-block;
margin: 0 2em;

}

.top-text {
font-family: Roboto;
color: #373737;
text-align: center;
line-height: 1.8em;
letter-spacing: 0.1em;
background-color: ghostwhite;
width: 100%;
height: 100%;
padding: 2em 0em 2em 0em;
  
} 


.button_first {
display: inline-block;
background-color:  #16a085;
width: 10em;
height: 3em;
border-radius: 0.2em;
padding-top: 1.1%; 
   
   }

.button_get_started a {
font-family: Palanquin Dark;
font-size: 1em;
font-weight: 300;
color: white;
text-decoration: none;
cursor: pointer;


}

.yoda {
font-family: Roboto;
color:  #373737;
font-size: 1.2em;
font-weight: 900;
padding-left: 80%;
padding-top: 2%;   
}

img {
width: 100%;
height: 100%;
padding: 0em;
margin: 0em;
border: 0em;
display: block;
}

