html {
    width: 100vw;
    height: 100vh;
}

body {}



.wrapper {
    background-image: url('../img/rana-sawalha-364253-unsplash.png');
    background-size: cover;
    background-position: center;
    font-family: Verdana;
}

.header {
    width: 100%;
    height: 56px;
    /*    min-width: 300px;*/
    background-color: rgba(0, 0, 0, 0.41);
}


.log-sing {
    color: #fff;
    float: right;
    margin-top: 17px;
    margin-right: 50px;
    border-left: 1px solid rgb(80, 80, 80);
    padding: 3px 0px 0px 23px;
}

.log-sing a {
    text-decoration: none;
    color: #3cb878;

}

.log-sing a:hover {
    border-bottom: 1px solid #3cb878;
    color: #3cb878;

}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    float: left;
    margin-top: 20px;
    margin-left: 80px;
}

.logo:hover {
    color: #3cb878;
}

.nav-bar {
    float: right;
    margin-top: 17px;
    margin-right: 25px;
    background-image: url(../img/css_sprites1.png);
    display: inline-block;
}



.nav-bar.caledar {
    width: 19px;
    height: 19px;
    background: url(../img/css_sprites1.png) -1px -1px;
}


.nav-bar.forum {
    width: 28px;
    height: 20px;
    background: url(../img/css_sprites1.png) -87px -1px;
}


.nav-bar.journey {
    width: 20px;
    height: 20px;
    background: url(../img/css_sprites1.png) -43px -1px;
}


.nav-bar.caledar:hover {
    width: 19px;
    height: 19px;
    background: url(../img/css_sprites1.png) -22px -1px;
}


.nav-bar.forum:hover {
    width: 28px;
    height: 20px;
    background: url(../img/css_sprites1.png) -117px -1px;
}


.nav-bar.journey:hover {
    width: 20px;
    height: 20px;
    background: url(../img/css_sprites1.png) -65px -1px;
}

.conteiner {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 444px;
    height: 584px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 65px 0;
}

.form-header {
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

.network {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 28px;
    width: 320px;
}

.network a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


a.facebook {
    background-color: rgb(48, 93, 184);
    border-radius: 3px;
    width: 157px;
    height: 46px;
    position: relative;

}

.facebook img {
    position: absolute;
    margin: 13px 0px 13px 20px;
}

.facebook div {
    position: absolute;
    right: 20px;
    top: 15px;
}


a.google {
    background-color: rgb(223, 74, 50);
    border-radius: 3px;
    width: 157px;
    height: 46px;
    position: relative;
}

.google img {
    position: absolute;
    margin: 15px 20px 15px 20px;
}



.google div {
    position: absolute;
    right: 30px;
    top: 14px;
}

.cube {
    width: 10px;
    height: 10px;
    background-color: lightgreen;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
/*    margin: 10px 0px;*/
    font-family: Verdana;
    color: #434343;
    font-size: 14px;

}

.client-info {
    width: 300px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid rgba(240, 240, 240, 1);
    /*    border: none;*/
    font-family: Verdana;
    color: #423245;
    font-size: 14px;
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
    outline: none;

}

.client-info:focus {
    box-shadow: -1px 3px 8px 2px rgba(210, 210, 210, 0.8);
    outline: none;
    /*    border: none;*/
}

input::placeholder {
    color: rgba(190, 190, 190, 0.8);
}


input:focus::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
}


.text-sing-up {
    color: #434343;
    font-size: 20px;
    margin-top: 30px;
}

.log {
    text-decoration: none;
    color: #3cb878;
    margin-top: 32px;
}

.log:hover {
    border-bottom: 1px solid #3cb878;
    color: #3cb878;

}

/*
.check-box {
    display: inline;
    position: relative;
}
*/

.checkbox {
    color: #434343;
    margin-top: 20px;
    margin-right: 95px;
}

.checkbox a {
    text-decoration: none;
    color: #3cb878;
}

input[type=checkbox] {
opacity: 1;
}



.button-cr-acount {
    width: 322px;
    height: 46px;
    border-radius: 5px;
    background-color: rgb(60, 184, 120);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.separator1 {
    width: 130px;
    position: absolute;
    left: 0px;
    border: 0;
    border-top: 1px solid #ccc;
   
}

.separator2 {
    width: 130px;
    position: absolute;
    right: 0px;
     border: 0;
    border-top: 1px solid #ccc;
}

.or {
    margin: 0px 10px 0px;
    color: rgb(132, 132, 132);
    position: absolute;
    left: 140px;
}

.separator {
    width: 320px;
    height: 15px;
    margin: 0px auto;
    position: relative;
}



.sqr-checkbox {
    width: 17px;
      display: block;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 2px;
  
}
