html {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/*Header*/

.main_header_container {
    background-image: url('../img/bacground_header.jpg');
    background-position: center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nav {
    height: 120px;
    background-color: rgba(73, 71, 63, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav_bar {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header_logo {
    color: #ffff;
    display: flex;
    align-items: center;
    font-size: 32px;


}

.header_logo::before {
    content: "H";
    position: absolute;
    padding-left: 15px;
    font-weight: 600;
    font-size: 35px;
}

.image_logo {
    width: 58px;
    height: 67px;
}

.logo_lenght_the {
    margin-left: 5px;

}


.logo_lenght_ham {
    color: #18cfab;
    font-weight: 700;
}




.header_nav_list {
    display: flex;
    align-items: center;
}

.header_nav_link {
    color: #b8b8b8;
    position: relative;
    font-size: 13px;
    font-weight: 700;
    margin-left: 23px;
    text-transform: uppercase;
}

.header_nav_link:hover::before {
    content: "";
    position: absolute;
    border: 1px solid #18cfab;
    top: 66px;
    width: 100%;

}

.search {
    position: relative;
    margin-left: 20px;
}

.search:hover::before {
    content: "";
    position: absolute;
    border: 1px solid #18cfab;
    top: 73px;
    width: 100%;

}

.header_greeting {
    height: 892px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1160px;
}

.first_line_greeting {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.first_line_green {
    color: #18cfab;

}

.second_line_greeting {
    font-size: 79px;
    font-weight: 700;
    padding: 15px 0px 15px 0px;
    line-height: 74px;
    text-transform: uppercase;
}

.third_line_greeting {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 100;

}

.header_button {
    width: 360px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    width: 166px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: inset 4px 3px 5px rgba(0, 0, 0, 0.6), 0px 0px 5px rgba(255, 255, 255, 1);
}

.green_button {
    border-radius: 4px;
    background-color: #18cfab;
    box-shadow: 0px -4px 0px 0px #fff;
}

.blue_button {
    border-radius: 4px;
    background-color: #00cbf6;
    box-shadow: 0px -4px 0px 0px #fff;
}

/*Chess picture*/

.menu_icon {
    display: flex;
    font-weight: 600;
}

.icon_section_two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}

.bacground_icon_darkblue1 {
    width: 25%;
    background-color: #162630;
}

.bacground_icon_lightblue1 {
    width: 25%;
    background-color: #10d0ad;

}

.bacground_icon_darkblue2 {
    width: 25%;
    background-color: #162630;
}

.bacground_icon_lightblue2 {
    width: 25%;
    background-color: #10d0ad;
}


.icon_section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    flex-direction: column;
    color: #ffff;
}

.icon_color_sec2 {
    color: #10d0ad;
}

/*Liner after header*/

.liner_gradient_grup {
    display: flex;
}


li.liner_gradient {
    height: 5px;
}

li.liner_gradient:nth-child(1) {
    background: #10d0ad;
    width: 25%;
}

li.liner_gradient:nth-child(2) {
    background: #ffff;
    width: 25%;
}

li.liner_gradient:nth-child(3) {
    background: #10d0ad;
    width: 25%;
}

li.liner_gradient:nth-child(4) {
    background: #ffff;
    width: 25%;
}

/*Our Services*/

.section_third {
    display: flex;
    justify-content: center;
}

.section_our_services {
    width: 1160px;
     height: 35em;
}

.section_about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    height: 230px;
    color: #4e4e4e;
    font-size: 36px;
}

.section_about::before {
    content: "";
    position: absolute;
    width: 76px;
    border-bottom: 1px solid #18cfab;
    margin: 50px 0 0 0;
    box-shadow: 10px 4px 0px 0px #18cfab;
}

.menu_section_third_block {
    display: flex;
}



.menu_section_third {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 73px;
    color: #717171;
    border: 1px solid #ebecec;
    background-color: #f8fcfe;
    cursor: pointer;
}



.menu_section_third.active {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #fff;
}

.menu_section_third.active::after {
    top: 100%;
    left: 77px;
    border: solid transparent;
    content: "";
    position: absolute;
    border-top-color: #18cfab;
    border-width: 12px;
}


.section_third_image {
    margin-right: 20px;
    box-shadow: -1px -1px 0px 0px #777777;
    width: 192px;
}

.section_third_about.active {
    color: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    margin-top: 25px;
}

.section_third_about {
    display: none;
}

.section_third_text {
    text-align: justify;
    line-height: 24px;
    font-weight: 100;
}

/*EVERYTHING IS READY*/

.section_four {
    display: flex;
    justify-content: center;
    background-image: url('../img/image_section_4.2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.section_everything {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    height: 474px;
    flex-flow: column nowrap;
}


.text_section_four {
    margin-bottom: 32px;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;

}


/*Our Amazing Work*/

.section_six {
    width: 1160px;
     height: 960px;
}

.section_our_amazing_work {
    width: 1160px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_menu_container {
    display: flex;
    height: 60px;
    width: 609px;
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;

}

.section_five {
    background-color: #f8fcfe;
    display: flex;
    justify-content: center;

}



.menu_section_five {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebecec;
    width: 146px;
    height: 60px;
    position: relative;
}

.menu_section_five:hover {
    color: #18cfab;
}

.menu_section_five:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    border: 1px solid #18cfab;
    top: -2px;
}


.all_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebecec;
    width: 73px;
    height: 60px;
    position: relative;
}

.all_menu:hover {
    color: #18cfab;
}

.all_menu:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    border: 1px solid #18cfab;
    top: -2px;
}

.small_text {
    color: #d8d8d8;
    font-size: 16px;
    margin-bottom: 80px;
}

.full_img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1160px;
    margin-bottom: 70px;

}

.img-box {
    position: relative;
    width: 280px;
    height: 200px;
}




.icon,
.icon2 {

    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #18cfab;
    background-color: #f8fcfe;
    border: 1px solid #18cfab;
}

.icon:hover,
.icon2:hover {
    background-color: #18cfab;
    color: #fff;
}

.ic {
    position: absolute;
    top: 12px;
    left: 12px;
}

.icon {

    top: 40px;
    left: 100px;
}

.icon2 {

    top: 40px;
    left: 147px;
}

.text {
    position: absolute;
    color: #18cfab;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 25px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_sec_f {
    font-size: 12px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #8a8a8a;
}


.overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f8fcfe;
}

.img-box:hover .overlay {
    opacity: 1;
}
.img-box:hover::before {
    content: "";
    position: absolute;
    width: 99%;
    border: 2px solid #18cfab;
    z-index: 5;

}


.button_five {
    border-radius: 4px;
    background-color: #18cfab;

}

.button_five::before {
    content: "";
    position: absolute;

}

.plus {
    font-size: 30px;
    padding: 10px 10px 10px 10px;
}

.button_section_five {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
}

.img_n {
    display: none;
}

.img_y {
    display: flex;
}


/*Breking News/*/

.breking_news {
    display: flex;
    justify-content: center;
}

.full_portfolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.portfolio {
    margin-bottom: 45px;
    position: relative;
    height: 278px;
    width: 263px;
}

.about_foto {
    padding-left: 10px;
    line-height: 40px;
    color: #717171;

    height: 70px;
    width: 251px;
    border: 1px solid #ebecec;
    background-color: rgb(248, 252, 254);
}

.blog {
    position: relative;
    font-size: 18px;
    font-weight: 700;
}

.portfolio:hover .blog {
    color: #18cfab;
}

.portfolio img {
    display: block;
}

.description_foto {

    padding-left: 2px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
}

.portfolio .date {
    position: absolute;
    line-height: 25px;
    padding: 8px 19px;
    top: 0px;
    right: 0px;
    text-align: center;
    background-color: #203e38;
    color: #ffffff;
    font-size: 15.99px;
    font-weight: 400;
    z-index: 1;
}

.portfolio:hover .date {
    background-color: #18cfab;
}


/*What Peaple Say About theHam*/

.section_seven {
    display: flex;
    justify-content: center;
    width: 100%;
    background: url('../img/bacground_section_7.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_seven_contant {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 1160px;
    height: 852px;

}

.quotes {
    width: 40px;
    height: 40px;
    background-size: contain;
}

.workers_t {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 1160px;
}

.section_seven_text {
    color: #bbbbbb;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    margin: 40px 0px;
    height: 60px;
}



.selected_workers_name {
    text-transform: uppercase;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
}

.selected_workers_position {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 18px;
}




.workers_top {
    display: none;
    align-items: center;
    flex-flow: column wrap;
    width: 1160px;
}

.w_tf {
    display: flex;
}

.temporary_worker_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 159px;
    height: 159px;
    z-index: 1;
}

.temporary_worker {
    width: 140px;
    height: 140px;
    border: 3px solid #18cfab;
    border-radius: 50%;

}

.temporary_worker_container::after {
    content: "";
    position: absolute;
    width: 159px;
    height: 159px;
    background: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    left: 0px;
    z-index: -1;
}

.workers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    margin-top: 40px;
}

.all_workers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 480px;
    user-select: none;  
}

.karusel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    font-size: 15px;
    cursor: pointer;
}

.karusel:hover {
    color: #ffff;
    background-color: #18cfab;
    border-color: #18cfab;
}

#carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: 100px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;

}

.carousel-item::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    z-index: -1;
}

.one_of_workers {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.active_ {
    margin-bottom: 20px;
    transition: 0.5s; 
}

.active_ .one_of_workers {
    box-shadow: 0px 0px 0px 2px #10d0ad;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}



/*Footer*/

.section_nine {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22353f;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aeaeae;
    word-spacing: 2px;
    height: 110px;
}

.footer_ham {
    color: #18cfab;
}

