@font-face {
font-family: "MyriadPro-SemiExt";
src: url("../fonts/MyriadPro-SemiExt.eot");
src: url("../fonts/MyriadPro-SemiExt.eot?#iefix") format("embedded-opentype"),
url("../fonts/MyriadPro-SemiExt.woff") format("woff"),
url("../fonts/MyriadPro-SemiExt.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}