html {
    width: 100%;
    height: 100%;
}

body {
    /*width: 100%;*/
    font-family: 'MyriadPro-SemiExt';
    background-color: #fafafa;
    padding-top: 50px;
}

a {
    text-decoration: none;
    display: inline-block;
}

.black-letter {
    color: #000000;
}

h2 {
    font-size: 80px;
    color: #4bcaff;
    padding-bottom: 51px;
    margin-left: -7px;
}

ul.nav {
    text-align: center;
    background-color: #35444f;
    font-size: 24px;
    list-style: none;
    color: #ffffff;
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;
    display: inline-block;
}

.black-letter {
    color: #000000;
}

h2 {
    font-size: 80px;
    color: #4bcaff;
    padding-bottom: 51px;
    margin-left: -7px;
}

ul.nav {
    text-align: center;
    background-color: #35444f;
    font-size: 24px;
    list-style: none;
    color: #ffffff;

}


ul li.nav-li {
    display: inline-block;
    /*padding: 22px 35px 22px 36px; */
}

.link-top {
    color: #ffffff;
    padding: 26px 41px;
    display: inline-block;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.link-top:hover {
    background-color: #222f3a;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}


.link-top {
    color: #ffffff;
}

.link-top:hover {
    background-color: #222f3a;
}

img.ti-capr {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 74px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 74px 0;
}

img.ti-capr:hover {
    transition: all .5s;
    transform: scale(1.2);
}

.top-img {
    width: 69%;
    border: 1px solid;
    float: right;
    margin: 50px 0px;
}

ul.nav-bar {
    border: 1px solid;
    float: left;
    width: 25%;
    margin-top: 50px;
    font-size: 27px;
    text-align: left;
    width: 69%;
    border: 1px solid;
    float: right;
    margin: 50px 0px;
}

ul.nav-bar {
    border: 1px solid;
    float: left;
    width: 25%;
    margin-top: 50px;
    font-size: 27px;
    text-align: left;

}

li.nb {

    /*    overflow: hidden;*/
    /*padding: 26px 20px;*/
}

.link-center {
    color: #485863;
    padding: 26px 20px;
    width: 100%;
    box-sizing: border-box;

}

.link-center:hover {
    background: #dbdbdb;
    color: #000000;
    padding: 26px 20px;
}

.link-center {
    color: #485863;
}

.link-center:hover {
    background: #dbdbdb;
    color: #000000;
    padding-left: 47px;
}


.text {
    float: right;
    width: 800px;
    margin: 0px 42px 50px 0px;
    font-size: 18px;
    float: right;
    width: 800px;
    margin: 0px 42px 50px 0px;
    font-size: 18px;

}


li.navbot {
    padding: 22px 5px 22px 25px;
    float: left;
}


.footer-nav {
    float: left;
    clear: both;
    width: 100%;
    height: 69px;
    background-color: darkgrey;
    text-align: center;
    display: inline-block;
    font-size: 24px;
}

.copy {
    padding: 22px 20px 22px 0px;
    float: right;
}

.link-bottom {
    color: #0c1927;
}

.link-bottom:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}


.button {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    z-index: 5;
    background-color: #f20202;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 90px 50px #f00;
    animation: pulse 1s infinite;
    color: #fff;
    font: normal bold 25px cursive;

}

@keyframes pulse {
    0% {
        background-color: #ebe70c;
    }

    100% {
        background-color: #f20202;
    }
}
