.container {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    
}

.time {
    
    color:brown;
    font-size: 5em;
    font-family:fantasy;
    width: 300px;
}

.buttons {
    display:flex;
    width: 100%;
    justify-content: center;
}

.bot {
    width:7em;
    height: 3.5em;
    margin:2em;
    border-radius:0.5em;
    background-color: #53b83e;
    color: #fff;
    font-weight: bolder;
}
