body {
    /*
    width: 100%;
    height: 100%;
*/

}


.wrapper {
    width: 1366px;
    height: 768px;
    background-image: url(../img/back.png);
    font-family: Verdana;


}

.content {
    position: relative;
    max-width: 1100px;
    color: #ffffff;
    margin: 0 auto;
}

.header {
    position: relative;
    margin: 0 auto;
    width: 1029px;
    height: 100px;
    color: #ffffff;
}

.address {
    position: absolute;
    right: 0;
    bottom: 0px;
    text-align: right;
    color: #ffffff;
}

.logo {
    position: absolute;
    color: #ffffff;
    left: 0px;
    bottom: 0px;
    display: inline-block;
    width: 90px;
}

.logo a {
    padding: 0px;
    margin: 0px;
}

.logo:hover .logo-castel2 {
    z-index: 1;
}

.logo:hover .logo-castel {
    z-index: -1;
}

.logo:hover .logo-name {
    color: #f26522;
}

.logo-castel {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.logo-castel2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.logo-name {
    position: absolute;
    left: 60px;
    bottom: -2px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0px;

}

.logo-name1 {
    font-size: 29px;
    line-height: 29px;
    bottom: 0px;
}

.logo-name2 {
    font-size: 18px;
    bottom: 0px;
}


.tours {
    float: left;
    text-align: center;
    text-decoration: none;
    margin: 27px 30px;
}

.tours:hover .tours-name {
    color: #f26522;
}

.nav-img {
    border: 2px solid black;
    border-image-source: linear-gradient(white, black);
    border-image-slice: 1;
}

a.tours {
    color: #ffffff;
    font-size: 18px;
    line-height: 33px;
    position: relative;
}

.tours .prise {
    position: absolute;
    width: 304px;
    height: 0px;
    background-color: #f26522;
    bottom: 45px;
    opacity: 0;
    transition: 0.5s;
}

.tours:hover .prise {
/*    position: absolute;*/
    opacity: 1;
     height: 63px;
    
/*
    transform: translateY(0);
    transition: 0.5s;
*/
}

.from {
    position: absolute;
    font-size: 10px;
    left: 17px;
    bottom: 25px;
}

.euro {
    position: absolute;
    font-size: 20px;
    left: 17px;
    bottom: 8px;
}

.detail {
    font-size: 14px;
    position: absolute;
    bottom: 8px;
    right: 39px;
}

.more::after {
    position: absolute;
    right: 10px;
    bottom: 8px;
    font-size: 15px;
    content: ">";
}

.footer {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    margin-top: 25px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
